html {
  height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Montserrat', sans-serif;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
}
header{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}
div{
	/*border: 1px solid green;*/
}
.topbar_container{
	background: #000;
}
.topbar, .bar{
	margin: auto;
	width: 1000px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.topbar a, .bar a{
	color: white;
}
.topmenu{
	display: block;
	flex-direction: row;
	justify-content: flex-start;
}
.logo_container{
	padding: 10px;
	position: relative;
	margin: auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border: 2px solid transparent;
	border-radius: 10px;
}

.topmenu li{
	float: left;
	list-style: none;
	padding: 10px;
}
.logo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #367193;
	box-shadow: rgba(0,0,0,0.2) 4px 4px 4px;
	border-bottom: 5px solid #F9FF1D;
}
.graficlogo{
	width: 260px;
	background: #F9FF1D;
	background: linear-gradient(-70deg, transparent 70px, #F9FF1D 0) top right;
}
.footer_graficlogo img{
	margin-top: 4px;
	width: 80px;
	background: #F9FF1D;
	border-radius: 5px;
}
.graficlogo img{
	height: 200px;
}
.description{
	width: 200px;
}

.contact{
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 20px;
	color: white;
}
.phones{
	/*padding: 4px 50px 5px 60px;*/
	/*background:url("../img/phone.png") no-repeat;*/
}
.social{
	/*padding: 20px;*/
	/*display: flex;
	flex-direction: row;
	justify-content: space-around;
}*/
}
.social img{
	padding: 5px;
	width: 30px;
}
.hours{
	/*padding:0px 50px 5px 70px;*/
	/*background:url("../img/clock1.png") no-repeat;*/
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav{
	margin: auto;
	width: 1000px;
	box-shadow: rgba(0,0,0,0.2) 4px 4px 4px;
}
#menu li{
	float: left;
	position: relative;
	list-style: none;
	background: #367193;

	width: 200px;
}
#menu a{
	text-align: center;
	/*color: #F7FE2E;*/
	color: white;
	padding: 14px 16px;
	font-size: 20px;
	text-decoration: none;
	display: block;
}
#active	a, #menu li:hover > a{
	background: #585858;
}
#menu li>ul{
	visibility: hidden;
	position: absolute;
}
#menu li:hover>ul{
	visibility: visible;
}
#menu li:first-child ul li, li:first-child ul{
	border-left: none;
}
#menu li:first-child:hover{
	left: 0;
}
#menu >li{
	border-right: 2px soid #A4A4A4;
}
#menu >li:last-child{
	border-right: none;
}
#menu ul{
	border-right: 12px soid red;
	border-left: 12px soid red;
}

main{
	padding-top: 0px;
	padding-bottom: 20px;
	flex-grow: 1;
}
.main_container{
	margin: auto;
	width: 1000px;
	background: white;
	box-shadow: rgba(0,0,0,0.2) 4px 4px 4px;
}
.main_container p{
	padding-left: 15px;
}
.main_container ul{
	padding-left: 35px;
}
.main_container li{
	list-style-type: disc;
}
.center_img{
	max-width: 100%;
}
.services{
	width: 80%;
	max-width: 1200px;
	margin: 30px auto;
	text-align: justify;
}
.services__container{
	margin: 30px auto;
	display: grid;
	grid-template-columns: auto auto;
}
.services__container p{
	text-align: justify;
	margin: 15px;
}
.services__container a:hover{
	border-color: #ff4d4d;
	color: #ff4d4d;
}
.services__container__block{
	background: #F5F5F5;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.2) 4px 4px 4px;
	margin: 10px auto;
	max-width: 450px;
}
.service-cover{
	background: green;
	background: url(../img/sofar_services.jpg) no-repeat;

	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 20rem;
}
.service_body{
	margin: 0 auto;
	width: 70%;
}
.service-title h2 a{
	font-weight: 100;
}
.cartridge{
	background: url(../img/services/cartridge.jpg) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.office{
	background: url(../img/services/office.jpg) no-repeat;
	height: 16rem;
}
.medical_equipment{
	background: url(../img/services/medical_equipment.jpg);
}
.computers{
	background: url(../img/services/computers.png) no-repeat;
	height: 16rem;
}